# Horrible Apple stuff
# find . -name "Icon?" -print0 | xargs -0 rm -rf

# Fixes for Co-Pilot
# rm -rf ~/.vscode-server

.idea/
.vscode/

.DS_Store
.DS_*
Icon
*Icon*
*Icon?*
Icon?
refs/Icon?
*/Icon?
*/*/Icon?

# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
.pyc
.pyo

# Google docs
*.gslides
*.gdoc